[2019-12-12 09:22] l2009312042 opened #1 "can you give a trained model for demo？"
it is a good job for rnn-t asr，thank you for share your work . can you give a trained model for  demo test？ thanks

[2019-12-12 15:21] noahchalifour commented on #1
Yeah, I will be training and publishing a large pre-trained model soon

[2019-12-21 08:26] nichongjia-2007 opened #2 "tf-nightly version"
[_Derived_]  Tried to append a tensor with incompatible shape to a list. Op element shape: [64,2048] list shape: [1,?]

When I using tf-nightly 2.1.0.dev20191219 to train the model, I got the previous error.
Could you tell me about the version of tf used in your experiments?

[2019-12-30 19:56] noahchalifour commented on #2
This issue seemed to happen with any batch size > 1. Issue fixed in commit https://github.com/noahchalifour/rnnt-speech-recognition/commit/534165e1053deeec8731173b983994f62de0c682

[2019-12-30 19:57] #2 closed

[2020-01-10 04:17] nichongjia-2007 opened #3 "bug in evaluate.py"
In evaluate.py line 51, eval_accuracy(pred_out, predictions)
It is not correct for this.

[2020-01-11 02:18] noahchalifour commented on #3
Why is this not correct?

[2020-01-15 23:15] kjwill555 commented on #1
@noahchalifour any update on the pre-trained model?

Also, how long does it to train a model using the default parameters?

[2020-01-16 15:44] noahchalifour commented on #1
@kjwill555 Because the data is so large I am having to train a model with a batch size of just 2 on a Paperspace VM with a Quadro P4000 GPU. With all other parameters the same it takes about 2 hours to train on a single batch. I am working on optimizing the training process, I also may publish a much smaller pre-trained model as well

[2020-01-21 02:50] GaryGao99 opened #4 "Segmentation fault"
**Describe the bug:**
The error is:
Fatal Python error: Segmentation fault
Current thread 0x00007fa62a611740 (most recent call first):
  File "/home/envs/tf2.1_py3.6/lib/python3.6/site-packages/tensorflow_core/python/framework/ops.py", line 1619 in _create_c_op
  File "/home/envs/tf2.1_py3.6/lib/python3.6/site-packages/tensorflow_core/python/framework/ops.py", line 1786 in __init__
  File "/home/e

[2020-01-21 14:59] kezakool opened #5 "Perf on device"
Hi,

Thanks for your work this is great! i found the same paper this morning, telling my self it would be something to implement it :) have you tried it on mobile device for real time streaming speech reco? i was asking my self if the model described in the paper wasn't to big, needing all theses perf optimizations?

cheers,

Kezak

[2020-01-21 17:06] noahchalifour commented on #4
@GaryGao99 Can you please specify what parameters you when running

[2020-01-21 17:11] noahchalifour commented on #5
I haven't been able to train a model with in the parameters specified in the paper (training time and resources are limited), I am currently training a much smaller model to see if I can get relatively good performance on mobile devices.

I am also looking at optimizing the training procedure and if you find any optimizations you can think of, please submit a PR request

[2020-01-22 02:28] GaryGao99 commented on #4
@noahchalifour
**The  parameters as follows：**
  python run_rnnt.py \
    --mode train \
    --dataset_name common-voice \
    --dataset_path dataset/common-voice

I think the bug is because of
    @tf.function(input_signature=[tf.TensorSpec([None, None, 80], tf.float32),
                                  tf.TensorSpec([None, None], tf.int32),
                                  tf.TensorSpec([None]

[2020-01-29 09:45] kjh21212 opened #6 "How to use the multi gpu?"
I have 4way 2080ti server
when i start training, i got OOM error and just gpu 0 usage 100%
so i adjusted the batchsize 64 --> 1 but the same problem occurred

and

"AutoGraph could not transform <bound method Popen._communicate of <subprocess.Popen object at 0x7f9665489f60>> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `e

[2020-02-03 15:20] kezakool commented on #5
hi Noah,
i found somes ideas for training optimizations in this paper that may help : https://arxiv.org/pdf/1909.12415.pdf

[2020-02-04 13:40] xiechen0692 opened #7 "Question about Streaming."
Thanks a lot for sharing the code!
Here are some questions:

Where is the code to process 'streaming'?
Is streaming necessary in training model? Or just use original data.

Thanks again.

[2020-02-04 15:17] noahchalifour commented on #3
Closing as inactive for 25 days, and eval moved to Keras training API

[2020-02-04 15:17] #3 closed

[2020-02-04 17:42] noahchalifour commented on #4
@GaryGao99 Please try again using the most recent commit 53c7d92acfda671ba79a9a4e74cd127f04311e2c. I have moved all the training to the Keras training API so this shouldn't be an issue anymore.

[2020-02-04 17:42] #4 closed

[2020-02-05 01:11] noahchalifour commented on #6
I just added multi GPU support. It uses all available GPUs by default but you can also specify the number of GPUs to use by specifying the `n_gpus` argument when running. I have also moved the model to the Keras Functional API. Please check out the latest commit. 11aaae4069ea3f5f026f5b2ca81401a504dfc07f

[2020-02-05 10:32] tulasiram58827 opened #8 "LOSS IS NEGATIVE"
What does it mean if the loss is negative. Do I have to wait more or is there anything wrong?

Attaching the required reference.

 1/1561 [..............................] - ETA: 5:59:49 - loss: -0.00392020-02-05 15:46:10.353673: E tensorflow/core/profiler/internal/gpu/cupti_tracer.cc:1329] function cupti_interface_->EnableCallback( 0 , subscriber_, CUPTI_CB_DOMAIN_DRIVER_API, cbid)failed with erro

[2020-02-05 11:07] kjh21212 opened #9 "An op outside of the function building code is being passed a "Graph" tensor. It is possible to have Graph tensors leak out of the function building context by including a tf.init_scope in your function building code."
I try to a new source

but i had this problem...

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/tensorflow_core/python/eager/execute.py", line 61, in quick_execute
    num_outputs)
TypeError: An op outside of the function building code is being passed
a "Graph" tensor. It is possible to have Graph tensors
leak out of the function building context by including a

[2020-02-05 13:49] noahchalifour commented on #8
@tulasiram58827 Did you install the `warp-transducer` loss? If not you should get an output log that says `RNN-T Loss function not found.` That is the most likely reason. Also are you running on CPU or GPU?

[2020-02-05 13:51] noahchalifour commented on #9
@kjh21212 Are you training on CPU or GPU? Also what is the rest of the error message? It should print out at the bottom which tensor it failed on.

[2020-02-05 15:38] noahchalifour commented on #6
So, for now multi GPU won't work with the loss function. I will try and add it in the near future

[2020-02-05 15:42] noahchalifour commented on #9
Fixed by reverting to commit 53c7d92acfda671ba79a9a4e74cd127f04311e2c

[2020-02-05 15:42] #9 closed

[2020-02-06 01:05] kjh21212 opened #10 "multiple gpu error"
I'm using 4 way GPU
but this source code is not working 4 way GPU

gpus = tf.config.experimental.list_physical_devices('GPU')
if FLAGS.n_gpus != -1:
    gpus = gpus[:FLAGS.n_gpus]

strategy = tf.distribute.MirroredStrategy(devices=gpus)

################################

This source was not working so i edited source code

----> strategy = tf.distribute.MirroredStrategy(devices=['/GPU:0','/GPU:1',

[2020-02-06 03:41] noahchalifour commented on #10
@kjh21212 Related to the following issue #6. Multi GPU does not work right now as when working with Tensorflow strategies, the inputs to the loss function become Keras symbolic tensors instead of eager tensors

[2020-02-06 10:23] tulasiram58827 commented on #8
@noahchalifour Yes I missed installing warp-transducer loss. Now I installed it and I am getting the following error.
tensorflow.python.eager.core._SymbolicException: Inputs to eager execution function cannot be Keras symbolic tensors, but found [<tf.Tensor 'spec_lengths:0' shape=(None,) dtype=int32>, <tf.Tensor 'label_lengths:0' shape=(None,) dtype=int32>]

Can u look into it

[2020-02-06 14:38] noahchalifour commented on #8
Pulling the latest commit will fix this issue, error has to do with multi GPU support #6 .

[2020-02-06 14:38] #8 closed

[2020-02-27 19:38] JudeAshly commented on #1
We are waiting for a trained model : D

[2020-03-03 11:39] ahmedalbahnasawy opened #11 "loss is not healthy"
<img width="420" alt="Screen Shot 2020-03-03 at 1 52 08 PM" src="https://user-images.githubusercontent.com/50653875/75772217-f06cdb00-5d64-11ea-9f3c-8f26f37b8369.png">

I used the same config file and the same dataset but the only change was wordpeice instead of character unit.
I 'm training the model using I GPU.

[2020-03-03 14:57] noahchalifour commented on #11
@ahmedalbahnasawy Yeah, I am trying to figure out the bug with the word-piece version, its a work in progress, the character version should work though

[2020-03-05 08:59] biemster commented on #1
Have you considered using the trained models from the various Google apps that use this, like GBoard or Recorder? I've been trying that here: https://hackaday.io/project/164399-android-offline-speech-recognition-natively-on-pc
With some great help we got the endpointer giving nice results, but the inputs to the encoder and decoder, and the text output still need some more work/help.

[2020-03-07 09:12] ahmedalbahnasawy commented on #11
okay thank you I will try character unit.

[2020-03-24 11:46] Jervint opened #12 "Get Error when using docker training by GPU"
`2020-03-24 11:44:32.184830: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcublas.so.10
2020-03-24 11:44:32.603866: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcudnn.so.7
2020-03-24 11:44:33.321264: E tensorflow/stream_executor/cuda/cuda_dnn.cc:329] Could not create cudnn handle: CUD

[2020-03-25 02:16] Bowenwu1 opened #13 "How to calculate WER?"
Hi, Noah
Thank you for your wonderful work for rnn-t asr.
I'm confused about how to calcuate WER of trained model. Are there any released code for model evaluation?

Cheers

[2020-03-25 09:40] #12 closed

[2020-03-25 17:12] Brocolli765 commented on #1
Hi guys, it would be nice if anyone could upload the trained model

[2020-03-27 15:13] noahchalifour commented on #1
I am still working on training the model, I ran into some issues but hopefully I will be able to upload a decent model soon

[2020-03-27 15:15] noahchalifour commented on #13
@Bowenwu1 There will be soon, I will be pushing updated code with comprehensive evaluation as soon as I can verify that the model trains and evaluates properly

[2020-03-30 08:35] Bowenwu1 commented on #13
OK, I got it. Thanks for your wonderful work!

[2020-03-30 08:35] #13 closed

[2020-03-31 01:29] Jervint opened #14 "unhealthy loss"
@noahchalifour I have trained the model with the hparams you get. But I got the loss seemed abnormal. Can you give me some advice, thanks!
![image](https://user-images.githubusercontent.com/20737207/77977337-08b72200-7332-11ea-81d7-0435fde7715d.png)

[2020-03-31 01:40] noahchalifour commented on #14
Please try again with the latest commit (01edf390be6b7cc52b7522d35a985c9b18419fa2 as of right now), I have made a lot of changes to the model and training. Feel free to re-open if issue persists.

[2020-03-31 01:40] #14 closed

[2020-03-31 01:41] noahchalifour commented on #11
Please try using the latest commit (01edf390be6b7cc52b7522d35a985c9b18419fa2 as of right now), I have made a lot of changes to the model and training. Feel free to re-open if issue persists.

[2020-03-31 01:41] #11 closed

[2020-03-31 01:41] noahchalifour commented on #10
Should be resolved as of latest commit 01edf390be6b7cc52b7522d35a985c9b18419fa2.

[2020-03-31 01:41] #10 closed

[2020-03-31 01:45] noahchalifour commented on #1
Due to financial constraints (I only have 11gb of VRAM) It would take a long time for me to train a decent model. I have just updated the code which should make training much faster and more efficient. If anyone trains a good model, please send it to me (chalifournoah@gmail.com) and I will add it to the readme and give you credit. Thanks!

[2020-03-31 01:45] #1 closed

[2020-03-31 01:46] noahchalifour commented on #6
Should be resolved as of latest commit 01edf390be6b7cc52b7522d35a985c9b18419fa2.

[2020-03-31 01:46] #6 closed

[2020-03-31 01:47] noahchalifour commented on #7
A streaming example can be found in the `streaming_transcribe.py` script.

[2020-03-31 01:47] #7 closed

[2020-04-04 15:28] digital10111 opened #15 "Question about impl"
why did you move from
`joint_inp = (tf.expand_dims(encoder_output, 2) + tf.expand_dims(prediction_network_output, 1))`

to the current imlp?

Also paper suggests, an exp to the joint input.

`joint_inp = tf.exp(tf.expand_dims(encoder_output, 2) + tf.expand_dims(prediction_network_output, 1)) `

[2020-04-04 15:32] digital10111 commented on #14
I am guessing we are referring to the non convergence of the loss here as unhealthy?
What change did you make @noahchalifour, for this? Did you find out something which was causing this?

[2020-04-06 03:17] Jervint commented on #14
I trained mode with your new commit, the issue still exists. After several epochs, the loss will grow to NaN, and the WER/CER/Accuray don't have little improvements in training. Could you share an available pre-trained model even though its accuracy is unfavorable.  Thanks! @noahchalifour
![image](https://user-images.githubusercontent.com/20737207/78520122-179d4900-77f8-11ea-8428-820f9e6790b2.png)

[2020-04-14 01:01] kjh21212 opened #16 "RAM OOM Problem"
when i run your code
it happened RAM OOM in eval part
i don't know why happened this problem?
my desktop ram size is 128GB
and it was increase memory every eval batch

[2020-04-17 04:09] TeaPoly opened #17 "Is is normal with steps time bigger than 26 seconds in 4 Nvidia 1080Ti GPUs?"
I using the default config for common voice task, and `steps_per_log=1`. But every step process duration is bigger than 26 seconds. Is it normal?

[2020-04-19 12:54] prajwaljpj commented on #16
@kjh21212 I'm facing the same RAM issue, were you able to solve it?

[2020-04-20 20:03] prajwaljpj opened #18 "Multi-GPU training is not working"
I have a machine with
2x Nvidia RTX 2080 Ti
8 Core Intel i7 processor
32Gb of RAM

The training code (non-Docker version) when CUDA_VISIBLE_DEVICES=0,1 causes a memory leak in eval_step.
python
These are the warnings I get. I am not able to pinpoint which object is causing the retracing error.

Performing evaluation.

[2020-04-21 02:15] NAM-hj commented on #18
I have same issue.
My system is

When I run the run_common_voice.py code. These are shown.

I think some of the tf.function? affect to speed of the training.

**Does the retracing warning have a connection with OOM error?
--> If so, how can I solve the retracing warning?
--> If not, how can I solve the OOM error?**

Thank you

[2020-04-21 09:07] prajwaljpj commented on #18
@nambee Did single GPU training work for you?

[2020-04-22 07:13] NAM-hj commented on #18
No it does not work.

To see the progress, I print some logs in  'run_evaluate' func which is inside of 'run_training' func. (I attach this code at the end of this comment. (I only added 'print' functions.))
**After 432 batches, OOM error has occurred. (+ The total eval_dataset loop count is 486.)**

`CUDA_VISIBLE_DEVICE=1 python run_common_voice.py --mode train --data_dir english_data/feature`

[

[2020-04-22 07:43] nambee opened #19 "Question about gradient calculation."
Thank you for your code!
It's really helpful.

I have a question about the loss function.
I know the loss of the rnnt is this.

At the utils.loss.get_loss_fn()
I can see the forward propagation of rnnt_loss.
I think **get_loss_fn()** of warp-transducer/tensorflow_binding/warprnnt_tensorflow/__init__.py is same with **utils.loss.get_loss_fn()** and **the function** called by
`from warprnnt_tensorfl

[2020-04-22 09:12] MoYinYu opened #20 "TF2.0: no supported kernel for GPU devices is available"
Thank you for your code, but I encountered an error running "run_common_voice. py".
That is：
Traceback (most recent call last):
  File "run_common_voice.py", line 547, in <module>
    app.run(main)
  File "/data0/tclxa/tfenv/anaconda3/envs/tf20/lib/python3.7/site-packages/absl/app.py", line 299, in run
    _run_main(main, args)
  File "/data0/tclxa/tfenv/anaconda3/envs/tf20/lib/python3.7/site-pack

[2020-04-22 10:04] MoYinYu opened #21 "TF2.1 : AttributeError: module 'tensorflow.python.framework.ops' has no attribute 'RegisterShape'"
Thank you for your code, but I encountered an error running "run_common_voice. py".
That is：

(tf21) tclxa@GPU245:/data0/tclxa/workspace/tangyanhuan/rnnt-speech-recognition-master$ python run_common_voice.py --mode train --data_dir /data0/tclxa/workspace/tangyanhuan/data/zhCN/zhcn_data
2020-04-22 18:01:17.360854: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynami

[2020-04-22 16:44] prajwaljpj commented on #18
@nambee From this log, you can see that you are running out of gpu memory, reduce the batch size to 8 or lower should fix the problem.
2020-04-22 15:55:35.613508: I tensorflow/stream_executor/cuda/cuda_driver.cc:801] failed to allocate 4.00G (4294967296 bytes) from device: CUDA_ERROR_OUT_OF_MEMORY: out of memory

But still it looks like due to eager execution, the memory requirement keeps growing

[2020-04-23 01:05] NAM-hj commented on #18
Oh, it's a different issue. sorry.
I thought you end up with OOM error too.

Can you run the run_common_voice.py without the OOM error?
I got the OOM error for eval_step and train_step too.
(I disabled the eval step to see the train_step can work.)

[2020-04-23 01:20] NAM-hj commented on #16
I have same issue.
My system is

When I run the run_common_voice.py code. These are shown.

I think some of the tf.function? affect to speed of the training.

**Does the retracing warning have a connection with OOM error?
--> If so, how can I solve the retracing warning?
--> If not, how can I solve the OOM error?**

[2020-04-23 13:55] prajwaljpj commented on #18
Yes it worked for me. Even though you use CUDA_VISIBLE_DEVICES=0 to specify one GPU you have to change the strategy = None in run_common_voice.py.

[2020-04-24 02:08] NAM-hj commented on #21
I had that issue too.

[Situation]
I think you get the same error when you import warp-transducer.
try to run this code in python
`from warprnnt_tensorflow import rnnt_loss`

[My situation]
I'm not sure about your error, but I downloaded warp-transducer from the original link (https://github.com/HawkAaron/warp-transducer) at first.

[My solution]
So I re-install
cuda=10.1
tensorflow-gpu=2.1.0
warp

[2020-04-24 02:43] MoYinYu commented on #21
@nambee Thanks. I run warprnnt_tensorflow in tf2.0. It works well. I think the error may be due to my installation of cudatoolkit10.1 with conda.

[2020-04-24 02:43] #21 closed

[2020-04-24 03:02] MoYinYu commented on #20
This may be due to the use of multiple GPUs. I solved this problem by setting strategy = None. And some code in run_common_voice.py/run_evaluate(...) are change to be：

        if strategy is not None:
            losses, metrics_results = strategy.experimental_run_v2(step_fn, args=(dist_inputs,))
            mean_loss = strategy.reduce(
                tf.distribute.ReduceOp.SUM, losses, axis=0)

[2020-04-24 03:02] #20 closed

[2020-04-24 04:20] #17 closed

[2020-04-24 18:13] noahchalifour commented on #19
@nambee The `GradientTape` automatically tracks variables and then the `tape.gradient` function computes the gradients given the loss and the variables to compute gradients for. Take a look at the Tensorflow documentation (https://www.tensorflow.org/api_docs/python/tf/GradientTape)

[2020-04-26 10:31] ybNo1 opened #22 "parallel GPUs working like serial"
I find a situation confusing when made 2 time stamp in the code.
when I modify the run_common_voice.py 137~163 like this:

        def step_fn(inputs):
            (mel_specs, pred_inp,
             spec_lengths, label_lengths, labels) = inputs
            with tf.GradientTape() as tape:
                outputs = model([mel_specs, pred_inp],
                    training=True)
                # add

[2020-04-27 04:26] #19 closed

[2020-04-27 07:32] NAM-hj commented on #18
@prajwaljpj Thank you for your advice. Retracing errors are gone when I disable strategy. I still got the OOM error, I should reduce some factors. Again, Thank you!

[2020-04-28 07:08] prajwaljpj commented on #18
@nambee Strategy part is not implemented for eval. If you see the training function there is a condition which implements strategy and experimental_run. You have to make a similar change for eval. also Try reducing batch size to 2.

[2020-04-28 09:12] NAM-hj commented on #18
@prajwaljpj Yes, I did that already. But I apply it only for small datasets. (Because I need feasibility now)
I will expand it in the future. Thank you for your kind consideration.

[2020-05-01 06:41] nambee opened #23 "Inference problem with small dataset"
Thank you for your nice code.

I try to train the model with very small dataset to see the feasibility.
I reduced dataset to only 4 sentence.
(common_voice_en_19664034,19664035,19664037,19664038.wav)

The loss and WER and CER are goes to zero.
1. training loss decreased to 0.1945
2. WER and CER goes to zero

After I train the model, I run the inference with the same waves (transcribe_file.py).
`py

[2020-05-06 07:27] ybNo1 commented on #23
I also have this problem using a different training dataset
when training small dataset for experiment, I found loss about 1.023, with acc about 0.94.
When using utils/decoding.py to decode wavs, I found that the decoding process always reach the end to early.
For example, when total length of the encoder output is about 120, the process always stop at time step 10~20.
And every step, the predicte

[2020-05-06 07:51] ybNo1 commented on #22
It found to be the right behavior of the eager mode:https://github.com/tensorflow/tensorflow/issues/38924

[2020-05-06 07:51] #22 closed

[2020-05-09 20:40] dyc3 opened #25 "Training a model with --fp16_run does not work"
Logs
[code]

[2020-05-10 13:52] nglehuy commented on #16
@nambee Seems like there's something with GradientTape, RNN layers or TFRecords. I implemented DeepSpeech2 with tfrecord dataset in keras and when I trained it using .fit function, no OOM error, but when I trained using GradientTape, the memory kept going up and then OOM. However, when I trained SEGAN (No recurrent network, only Conv) with a generator dataset using GradientTape, it worked fine.

[2020-05-10 19:20] dyc3 opened #26 "NaN loss"
Training with this command

[code]

Started giving me NaN for loss in epoch 0, batch 156:
[code]

I'm not really sure what's going on, but could it be related to these warnings?
[code]

[2020-05-12 20:57] noahchalifour commented on #23
@nambee Thanks for the info, I have been having issues as well with training and inference. How many epochs did you train for on your test to get the loss of ~0.2? (Also what hparams did you use?) I am trying to run a similar test to debug the issue

[2020-05-13 03:21] NAM-hj commented on #23
I set max epoch as 1000.
And This is the generated "hparam.json" file.

[2020-05-14 17:49] noahchalifour commented on #26
@dyc3 This is most likely a problem with the `warp-transducer` module getting built with without GPU support but using GPU when training. Please make sure when you are compiling the `warp-transducer` code that in the logs you see a flag like `GPU_ENABLED` (I don't remember what the exact flag looks like)

[2020-05-14 17:58] noahchalifour commented on #25
@dyc3 From what I can tell `fp16_run` doesn't work right now because the RNNT loss function does not support float16, I am not very good with C/C++ so if someone else would add float16 support to the `warp-transducer` package then I will gladly merge it.

[2020-05-14 18:00] noahchalifour commented on #23
@nambee I ran a test similar to yours and it seems as though the problem is resolved in the latest commit. I was able to train with a dataset of 4-5 audio samples and have the inference script predict the correct transcription.

[2020-05-14 18:00] #23 closed

[2020-05-14 18:02] noahchalifour commented on #18
Can someone please let me know if this is resolved in the latest commit? I do not have a multi GPU machine to test on. Thanks

[2020-05-14 18:03] noahchalifour commented on #16
Please try again with the latest commit. I have updated it to use Tensorflow 2.2.0 and solved the retracing issue

[2020-05-14 18:05] noahchalifour commented on #15
@digital10111 I have moved back to the original implementation in the latest commit. I did also test using `tf.exp` but it seemed to always perform worse than without.

[2020-05-14 18:05] #15 closed

[2020-05-14 21:24] dyc3 commented on #26
I tried rebuilding `warp-transducer` and training again, still getting the same problem. Is loss supposed to be negative like that?

Output of `CUDA_HOME=/usr/local/cuda ./scripts/build_rnnt.sh`

[code]

Output of `python run_common_voice.py --mode train --data_dir data_p --batch_size 4 --steps_per_checkpoint 100 --eval_size 100`

[code]

[2020-05-15 16:02] noahchalifour commented on #26
@dyc3 Make sure you delete the `build`, `dist` and `warprnnt_tensorflow.egg-info` directories inside of `warp-transducer/tensorflow_binding` and then run it again and post the output here

[2020-05-15 19:38] dyc3 commented on #26
I deleted those directories, and ran `make clean` in the build directory. It appears to be working correctly now. We should set up some assertions so other people don't run into these issues.

Output of `CUDA_HOME=/usr/local/cuda ./scripts/build_rnnt.sh`
[code]

Output of `python run_common_voice.py --mode train --data_dir data_p --batch_size 4 --steps_per_checkpoint 100 --eval_size 100`

[code]

[2020-05-15 19:38] #26 closed

[2020-05-15 21:00] dyc3 opened #27 "ValueError: Python inputs incompatible with input_signature"
I pulled the latest code, and ran

[code]

Output
[code]

[2020-05-15 21:07] noahchalifour commented on #27
@dyc3 The preprocessing scripts changed so you'll have to rerun that

[2020-05-15 21:07] #27 closed

[2020-05-15 22:24] dyc3 opened #28 "Segmentation fault when training"
[code]

Output
[code]

[2020-05-15 23:02] noahchalifour commented on #28
@dyc3 What version of TensorFlow are you using? You should be using 2.2.0, I have a small model training right now and it works fine. Also make sure that you install TensorFlow 2.2.0 before you run the `build_rnnt.sh` script.

[2020-05-16 00:25] dyc3 commented on #28
I had forgotten to recompile warp-transducer after installing the new version of tensorflow

[2020-05-16 00:25] #28 closed

[2020-05-16 01:02] dyc3 commented on #16
It seems like the problem has gotten worse for me. After pulling the latest commit, I can't train the model anymore with these arguments

[code]

I can sorta get around it by setting the batch_size to 2, but that's not a great solution because it's going to take even longer to train.

For reference, I have a 2080 super.

[2020-05-26 07:21] stefan-falk opened #29 "Getting ValueError: Attempt to convert a value (PerReplica ..) when starting training"
Hi!

I am currently trying to start a simple training by following the instructions from the README.md. Everything works up to the point where I want to start the training.

Executing

[code]

Throws

[code]

<details>
   <summary>Click to expand full error log</summary>

[code]
</details>

Any idea what could be the issue here?

I have the following setup:

[code]

Any ideas?

[2020-05-26 07:34] stefan-falk commented on #18
Could this be related to https://github.com/noahchalifour/rnnt-speech-recognition/issues/29 ?

[2020-05-26 07:39] stefan-falk commented on #18
It does seem so.

First off, there seems to be an error, `gpus` is not defined at this point and `run_evaluate()` does not expose an argument `gpus`.

https://github.com/noahchalifour/rnnt-speech-recognition/blob/a0d972f5e407e465ad784c682fa4e72e33d8eefe/run_rnnt.py#L570

If I run the training with `CUDA_VISIBLE_DEVICES=0` it does seem to work. However, running with multiple GPUs gives me the excep

[2020-05-26 07:42] stefan-falk commented on #16
@noahchalifour Just executed the current repository code with _one_ GPU. I am also running into the OOM error also using a GeForce GTX 1080 Ti card.

[2020-05-26 08:35] stefan-falk opened #30 "Increasingly negative loss (becoming nan) and "forward backward likelihood mismatch""
Running the training on a single GPU gives me an increasing negative loss which eventually becomes `nan` as well as multiple warnings about a forward backward likelihood mismatch:

[code]

I did not change anything in the code yet. Only followed the instructions from the README.md.

Any idea what the issue could be?

[2020-05-26 11:13] prajwaljpj commented on #29
@stefan-falk Were you able to resolve this issue?

[2020-05-26 12:22] stefan-falk commented on #29
Using only one GPU resolves this issue (see https://github.com/noahchalifour/rnnt-speech-recognition/issues/18#issuecomment-633862788). But I wouldn't call it "resolved" yet.

[2020-05-29 11:23] BuaaAlban commented on #29
same error

[2020-06-01 19:35] omerasif-itu opened #31 "Building Warp_transducer failed in google colab."
Hi, I am running experiment in Google Colab.
[code]
**Error:**
[code]

@noahchalifour Please advise.

[2020-06-02 03:22] jtdutta1 commented on #31
I have the same question as to why the gcc commands had their versions hardcoded! And would it have any other effect if I preferred to use another gcc!

[2020-06-02 09:15] omerasif-itu commented on #31
**A temporary quick fix:**

[While in linux] If your _Environmental Variables_ are not set then use:

`which gcc`
`which g++`
`which cuda`

to find paths and then pass that as arguments in script

[code]

 **Out:**

[code]

[2020-06-02 10:41] omerasif-itu commented on #31
A temporary quick fix:

[While in linux] If your Environmental Variables are not set then use:

which gcc
which g++
which cuda

to find paths and then pass that as arguments in script

cp cmake/warp-rnnt-cmakelist.txt warp-transducer/CMakeLists.txt

cd warp-transducer

mkdir build
cd build

cmake \
        -DCMAKE_C_COMPILER_LAUNCHER=/usr/bin/gcc \
        -DCMAKE_CXX_COMPILER_LAUNCHER=/usr/bin/g+

[2020-06-02 12:10] omerasif-itu commented on #31
**A temporary quick fix:**

[While in linux] If your Environmental Variables are not set then use:

[code]
to find paths and then pass that as arguments in script

[code]

and then run:

`CUDA_HOME=/usr/local/cuda ./scripts/build_rnnt.sh # to setup the rnnt loss`

See Issue #26 #30 ([reply](https://github.com/noahchalifour/rnnt-speech-recognition/issues/26#issuecomment-629442944))  #31

**Out:**

[2020-06-12 18:21] tumusudheer opened #32 "Inference is giving ValueError: When input_signature is provided, all inputs to the Python function must be convertible to tensors:"
Hi,

I started training the model using the entire Common Voice dataset given in the github page.
I'm using tensorflow 2.2.0 with python 3.6. The training command used
`python run_rnnt.py --mode train --data_dir data_trail/preprocessed --batch_size 16 --eval_size 100`
using 1080Ti single GPU. I got OOM error after about 18k steps (still in Epoch 0) and my loss was about 116.7. The Accuracy graph i

[2020-06-12 20:45] tumusudheer opened #33 "Training your own data set (audio and transcription)"
Hi,

I would like to train my own dataset. Just wanted to know some guidelines on how to prepare data:
I'll prepare some .wav files with 16KHz sample rate and single channel.
1. What should be length of each audio file (in terms of seconds/milli seconds) ?
2. Is there a max and min length of an audio file can be (in terms of duration) ?
3. Also is there a limit on number of words/characters that a

[2020-06-12 23:07] tumusudheer commented on #33
Also I trained the model with just 4 audio files of common_voice data , to give it a try. It has prepared encoder.subwords file and the vocab size is given as 301. I trained the model for 1000 epochs.

Now I want to train first 1000 audio files.  When I used the command
 `python run_rnnt.py --mode train --data_dir data_trail/preprocessed_small_1000 --batch_size 8 --eval_size 100 --checkpoint model

[2020-06-15 09:36] nglehuy commented on #16
I have figured out that if we use `tf.data.TFRecordDataset`, then wraping whole dataset loop with `@tf.function` can avoid RAM OOM (and also train faster), like:
[code]
The downside of this trick is we can't use native python functions and unimplemented tf functions in graph mode (like `tf.train.Checkpoint.save()`). However, we can use `tf.py_function` or `tf.numpy_function` to run them, but we ha

[2020-06-18 04:28] jtdutta1 opened #34 "Argument name error in preprocess_librispeech.py"
There is an error in line 87 in **preprocess_librispeech.py**. Argument name `output_dir` does not exist, it should be `encoder_dir`.

[2020-06-23 10:33] stefan-falk commented on #31
@omerasif-itu Thank you for your help!

However, after compiling warp-transducer like this I am getting the following error:

[code]

Any idea what the issue here might be?

[2020-06-23 10:38] stefan-falk commented on #31
@omerasif-itu Thank you for your help!

However, as I compile the warp-transducer I keep seeing

[code]

Am I missing something? It tries to build the library without GPU support ..

[2020-06-23 10:41] stefan-falk commented on #31
Okay, nvm .. I thought I did it already but I had to delete `warp-transducer/build` to make it work.

[2020-06-23 10:49] stefan-falk commented on #29
@BuaaAlban @prajwaljpj Were you able to run it on multiple GPUs yet?

[2020-06-23 11:35] stefan-falk commented on #30
Fixed by the workaround proposed in https://github.com/noahchalifour/rnnt-speech-recognition/issues/31#issuecomment-637499806

[2020-06-23 11:35] #30 closed

[2020-06-23 11:38] stefan-falk commented on #31
@omerasif-itu Alright so, they training seems to run now but it does seem as if the model does not really learn anything.

This is what my test word-error-rate and training loss look like:

![image](https://user-images.githubusercontent.com/43335432/85399238-c7ac6380-b556-11ea-9444-096971cc93f1.png)

Do I simply have to wait longer or is there still something not working? Have you been able to pro

[2020-06-23 12:18] omerasif-itu commented on #31
I wanted to smoke test the setup very quickly so to make sure every thing is working before I go for complete training run.

**Dataset:**  [Arabic Common Voice ](https://voice.mozilla.org/en/datasets)

**Command**:
python3 run_rnnt.py \
    --mode train \
    --data_dir arcvp/ \
    --n_epochs 10 \
    --batch_size 16 \
    --eval_size 500  # this is strange :'D

Result:
[code]
[Complete output: P

[2020-06-23 12:47] omerasif-itu commented on #32
Have you fixed the issue anyway?

[2020-06-23 13:56] stefan-falk commented on #31
@omerasif-itu I see, thank you. This loos similar to my output and by now the word-error-rate dropped a little so I guess the training works as such.

But i noticed that restarting the training does not reuse the existing checkpoint but instead starts the training from scratch ..

[2020-06-23 17:59] tumusudheer commented on #32
Hi,

No didn't fix this issue. Not sure how to fix this

[2020-06-24 01:12] beomseok-lee commented on #34
I think it's because you didn't specify `output_dir` when running `preprocess_librispeech.py`. I had not problem running that file actually.

[2020-06-24 01:59] BuaaAlban commented on #29
No, and it does't converge

[2020-06-24 13:19] stefan-falk commented on #32
@tumusudheer What did the word-error-rate look like during your training?

Mine does not look very promising:

![image](https://user-images.githubusercontent.com/43335432/85563820-05c88680-b62e-11ea-8142-d8b53347fa51.png)

[2020-06-24 18:18] omerasif-itu commented on #31
I think you need to provide a path to checkpoint directory.

In `run_rnnt.py` at line 38:
[code]
Given these flags, command to load check would be something like this:

[code]

[2020-06-25 07:35] stefan-falk opened #35 "Training is not converging. eval_wer sticks at ~95%."
I finally was able to run a training on a single GPU (multi-GPU does not seem to work right now) but the word-error-rate is not dropping.

I did not change anything in the code and I am using the common voice dataset as suggested by the README.md

As you can see below, the train_loss drops but the eval_wer goes back up after a slight drop:

![image](https://user-images.githubusercontent.com/433354

[2020-06-26 05:33] jtdutta1 commented on #34
The function `get_encoder()` in `utils/encoding.py` has the argument name as `encoder_dir` not `output_dir`. I just pointed that out.

[2020-07-01 03:32] PeiyanFlying commented on #35
Excuse me, but I have another question. When I train the model, I always run into "out of memory". Just like this:

RuntimeError: CUDA out of memory. Tried to allocate 8.05 GiB (GPU 0; 23.62 GiB total capacity; 18.02 GiB already allocated; 2.84 GiB free; 19.59 GiB reserved in total by PyTorch)

I use one GPU to train, the memory size is 23.6GiB. So how could you succeed running model only on one G

[2020-07-01 04:21] PeiyanFlying commented on #1
Excuse me, but I have another question. When I train the model, I always run into "out of memory". Just like this:

RuntimeError: CUDA out of memory. Tried to allocate 8.05 GiB (GPU 0; 23.62 GiB total capacity; 18.02 GiB already allocated; 2.84 GiB free; 19.59 GiB reserved in total by PyTorch)

I use one GPU to train, the memory size is 23.6GiB. So how could you succeed running model only on one G

[2020-07-01 08:17] stefan-falk commented on #35
@PeiyanFlying I am using a rather small batch size like 8 or 16 on a GeForce 1080 Ti (11 GB VRAM). In fact, multi-GPU seems to be broken at the moment. I am not able to use more GPUs than one at this point.

[2020-07-01 19:37] PeiyanFlying commented on #35
Thank you very much. These days I am working on RNNT training on LibriSpeech with Pytorch. But with the same config setting of this repository, It's easy to run into the OOM problem.
I try to check.
Thanks!

[2020-07-02 06:12] stefan-falk commented on #35
@PeiyanFlying Did you have any success yet? And, could you link me to that Pytorch library you're using? I'd like to take a look in case https://github.com/noahchalifour/rnnt-speech-recognition won't work for me

[2020-07-02 06:17] stefan-falk commented on #31
Thank you, @omerasif-itu!

[2020-07-03 14:39] PeiyanFlying commented on #35
Ok, I am working on it. Once the PyTorch library can run successfully, I give you the link.

[2020-07-10 08:22] stefan-falk opened #36 "warp-transducer - Is rnnt_loss() "internal state" causing wrong loss computation?"
So, I have tried to implement the model more or less "from scratch" on the basis of this repository.

For that I have implemented a training loop which I am executing eagerly to be able to debug.

However, in doing so I noticed that my loss is just jumping around weirdly and I still haven't figured out exactly why. In order to get insight I intended to take a closer look towards the `rnnt_loss()`

[2020-07-15 10:59] stefan-falk commented on #16
@usimarit Are you able to train/use the model? I can only afford a _very_ small batch size (4-8 samples) when running on a single GeForce 1080 Ti (~11 GB RAM) and I am not even sure if it's working.

How long did you have train your model?

[2020-07-15 13:05] nglehuy commented on #16
I guess small batch size is normal for ASR models. I trained a ctc model on rtx 2080ti 11G on about 300hours dataset and it took 3 days for 12 epochs with batch size 4.
But this issue is about RAM OOM, not GPU VRAM OOM :)) I've tested multiple times using tfrecorddataset and it seems like there is some bugs when iterating it using for loop.

[2020-07-16 10:22] stefan-falk commented on #16
@usimarit Oh, I misinterpreted the issue the.

Yeah, that batch size size what I am using too. Didn't expect such a small batch size to work out :)

[2020-08-12 17:11] manish-raivt opened #37 "unable to setup rnnt_loss using scripts/build_rnnt.sh"
I am working on a MAC os and my gcc version is 4.2.1. I get the following error when running the command bash scripts/build_rnnt.sh:

[2020-08-12 17:12] #37 closed

[2020-08-12 17:43] Manish-rai21bit opened #38 "error setting up rent loss in macOS"
Hi,

Great work setting up this repo. I am working on a Mac OS and have a gcc 4.2. I run into this error when trying to setup run loss using this script `bash script/build.sh`:

`CMake Error at /Users/mr/Desktop/venv-asr/lib/python3.7/site-packages/cmake/data/CMake.app/Contents/share/cmake-3.7/Modules/CMakeDetermineCCompiler.cmake:48 (message):
  Could not find compiler set in environment variable

[2020-08-24 06:54] wwwwcu opened #39 "Error when setup the rnnt loss"
After install tensorflow-gpu 2.2.0 and requirements
pip install tensorflow-gpu==2.2.0
pip install -r requirements.txt

run ./scripts/build_rnnt.sh
[code]

[2020-08-24 07:05] wwwwcu commented on #39
I fix it by changing cuda 10.0 --> cuda 10.1

[2020-08-24 07:05] #39 closed

[2020-09-04 23:24] noahchalifour commented on #38
@Manish-rai21bit  Try running `chmod +x ./scripts/build_rnnt.sh` followed by `./scripts/build_rnnt.sh`

[2020-09-04 23:27] noahchalifour commented on #35
@stefan-falk I have also noted that the model is not converging. I have been working on a solution for a while. It seems though if you use a small enough dataset (as a test) the model does successfully converge. I did read that in the original paper they are using massive batch sizes and im not sure if that is the reason why the model is not converging. Any insights?

[2020-09-04 23:32] noahchalifour commented on #34
@jtdutta1 Fixed in 1495550ce87a47d123fb15e8454daf3343d6a94b

[2020-09-07 03:02] banayoyo opened #40 "undefined symbol: _ZN10tensorflow12OpDefBuilder4AttrESs"
hi,

Error as the title occurs when run trainng:python run_rnnt.py。
 I see the info in setup.py about TF_CXX11_ABI, but still failed when I've changed its value and some -std=c++11 flag.
my environment is linux_cpu  + annaconda + tensorflow2.2.
any suggestion to solve  the issue  about warp-tranducer?

[2020-09-07 03:09] banayoyo commented on #40
gcc --version = 4.8.5

[2020-09-07 03:42] noahchalifour commented on #40
@banayoyo Can you post the entire output

[2020-09-07 05:40] banayoyo commented on #40
$python run_rnnt.py --mode train --data_dir /home/usr/xx/PycharmProjects/voice_dataset/cv-corpus-5.1-2020-06-22/preprocess --n_pochs 10
Traceback (most recent call last):
  File "run_rnnt.py", line 18, in <module>
    from utils.loss import get_loss_fn
  File "/home/usr/xx/PycharmProjects/rnnt-speech-recognition/utils/loss.py", line 6, in <module>
    from warprnnt_tensorflow import rnnt_loss
  Fi

[2020-09-08 16:17] farmboy-dev opened #41 "Question !"
![image](https://user-images.githubusercontent.com/70833564/92501953-291cce00-f23a-11ea-9a60-7a919ca59075.png)

How to solve it?

Thank you in advance

[2020-09-10 01:34] #40 closed

[2020-09-15 19:49] noahchalifour commented on #41
@farmboy-dev It seems as though you built it before and are trying to rebuild, try deleting the `build` and `dist` folders and rebuild

[2020-09-17 08:29] etyhh opened #42 "get Segmentation fault when training"
Hi,
  Error log as below:
Model: "encoder"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, None, 240)]       0
_________________________________________________________________
batch_normalization (BatchNo (None, Non

[2020-09-18 06:18] banayoyo opened #43 "loss issue"
Hi,

Seems the decoder has some issues, which may lead the loss un-converge。

[2020-09-18 07:38] #43 closed

[2020-09-18 08:04] ryantang1993 commented on #42
I also met the same problem. Have you found a solution?

[2020-09-18 11:07] etyhh commented on #42
I found in the below code:
    loss = rnnt_loss(y_pred, y_true, spec_lengths, label_lengths)
y_pred is 'tensorflow.python.framework.ops.Tensor'
change rnn to dnn and y_pred became ''tensorflow.python.framework.ops.EagerTensor'
and Segmentation fault disappear.
I'm working on using rnn and get EagerTensor

[2020-09-19 16:44] noahchalifour commented on #42
@etyhh What version of TensorFlow are you using?

[2020-09-19 16:45] noahchalifour commented on #41
@farmboy-dev Did it work?

[2020-09-21 02:09] etyhh commented on #42
tensorflow-gpu==2.2.0

[2020-09-21 08:12] ryantang1993 commented on #42
When I set print(tf.executing_eagerly()) before loss = rnnt_loss(y_pred, y_true, spec_lengths, label_lengths)， got False， that is to say， the eager mode changed in the loss function.

[2020-09-21 08:58] etyhh commented on #42
I tried add tf.config.experimental_run_functions_eagerly(True) at the begin of run_rnnt.py and loss.py.
before loss = rnnt_loss() , print(tf.executing_eagerly()) return True but print(type(y_pred)) return 'tensorflow.python.framework.ops.Tensor'

[2020-09-22 06:07] ChristopheZhao commented on #18
I can train the model use multi-gpus by add a decorator @tf.function refer this link https://github.com/tensorflow/tensorflow/issues/29911,and i also add  line of “os.environ['CUDA_VISIBLE_DEVICES'] = "{your gpus}” in my code.

[2020-09-22 18:22] WrathOfGrapes commented on #35
@noahchalifour Correct me if I'm wrong... Nobody has managed to train the network from this repo to reach at least 30 WER on Libri/common_voice?

[2020-09-23 12:23] stefan-falk commented on #18
Maybe take a look at https://github.com/usimarit/TiramisuASR

[2020-09-24 07:03] ChristopheZhao commented on #42
I encountered same error as you,and i assumed the err error is generated from rnnt_loss, i have try some ways ,but it didn't work,anyone has fixed it?

[2020-09-25 00:35] ayushgarg70 opened #44 "Preprocessing issue when using token_type='character'"
I guess the function `tf_vocab_encode(text,vocab_table)` in `encoding.py` should be implemented as:

[code]

and then the `encoder_fn` should be set as:

`encoder_fn = tf_voc_encode(vocab_table)` in the function `get_encoder` as this is later called as an argument of `_dataset.map()` which always runs in Graph mode and hence I was always getting the error:

` ValueError("input must have a statical

[2020-09-28 06:48] etyhh commented on #42
change tf.compat.v1.nn.rnn_cell.LSTMCell to tf.keras.layers.LSTMCell works for me
But tf.keras.layers.LSTMCell  doesn't support projection

[2020-09-28 08:46] VictorYFT commented on #18
Did u follow [the suggestions]( https://github.com/tensorflow/tensorflow/issues/29911#issuecomment-640816204)? Could you help share your code snippets here?

[2020-09-29 01:50] Victor10699 commented on #32
Finally, the issue is fixed following the 2nd solution in [the issue of tensorflow repo](https://github.com/tensorflow/tensorflow/issues/29911#issuecomment-505688141).

[code]

[2020-09-29 03:24] ChristopheZhao commented on #18
It's the multi-gpu training code what i modified,but the loss value from negative to nan after trained some batches.
![image](https://user-images.githubusercontent.com/17317538/94509171-3e3bba00-0246-11eb-8023-210f38307129.png)

[2020-10-17 15:45] #41 closed

[2020-10-17 15:59] noahchalifour commented on #36
@stefan-falk The acts dim 3 needs to be >= label_lengths as per https://github.com/HawkAaron/warp-transducer/issues/72

[2020-10-17 15:59] #36 closed

[2020-11-14 08:41] malixian commented on #16
@noahchalifour But I'am also facing the problem even with using Tensorflow2.2.0 and the latest commit.

[2020-11-14 08:44] malixian commented on #16
I have tried it, but it still doesn't work

[2020-11-14 08:45] malixian commented on #16
@usimarit I have tried it, but it still doesn't work

[2020-11-26 06:25] li563042811 commented on #32
Hi,
I met the same problem and tried to fix it according to the 2nd solution in https://github.com/tensorflow/tensorflow/issues/29911#issuecomment-505688141

but it didn't work the bug is here.

Traceback (most recent call last):
  File "/acoustic_data1/renxiaoming/install_dir/miniconda3/lib/python3.7/site-packages/tensorflow/python/eager/function.py", line 2293, in _convert_inputs_to_signature

[2020-12-03 08:23] goreng2 opened #47 "ImportError: tensorboard.plugins.hparams import api"
Hi,
I try to
[code]

But I encounter below error
[code]

At that situation, I have `tensorboard==2.2.2`
Because I think When I use `pip install tensorflow==2.2.0 (or tensorflow-gpu==2.2.0 for GPU support)`, `tensorboard==2.2.2` was installed automatically

So, I use `pip uninstall tensorboard` and `conda install tensorboard`
Because I think `conda` command install up-to-date tensorboard compatible

[2021-02-03 09:44] weiwenying opened #49 "EPOCH RESULTS: Loss: 0.0000"
[code]

`ubuntu18.04LTS`, and `conda list`:

[code]

`EPOCH RESULTS: Loss: 0.0000`, It's seem not working？

[2021-02-04 06:42] weiwenying commented on #49
Now, I've solved the problem. This is caused when the dataset is empty. when you run:

[code]

You want to convert MP3 to WAV format:

[code]

but `./scripts/common_voice_convert.sh` actually:

[code]

This is not what you want. So, after convert, and then rename the wav files, using Python script:

[code]

Now,  train.tfrecord is not empty:

[code]

and then, run:

[code]

Normal work is as follo

[2021-03-06 17:59] chaeeon-lim commented on #40
Hi, did you solve the problem? I got the same situation.

lib_handle = py_tf.TF_LoadLibrary(library_filename)
tensorflow.python.framework.errors_impl.NotFoundError: /home/chaeeon/anaconda3/envs/rnnt/lib/python3.8/site-packages/warprnnt_tensorflow-0.1-py3.8-linux-x86_64.egg/warprnnt_tensorflow/kernels.cpython-38-x86_64-linux-gnu.so: undefined symbol: _ZN10tensorflow8OpKernel11TraceStringEPNS_15OpKe

[2021-05-11 05:25] thebeyonder001 commented on #37
Did it work???

[2021-05-12 07:29] thebeyonder001 commented on #43
Did you solve it?

[2021-05-12 07:30] thebeyonder001 commented on #14
Did you guys solve it?

[2021-05-18 03:38] Chen188 commented on #29
I'm able to run it on 8 v100 GPU in single instance, using TF2.2.0 according to https://github.com/tensorflow/tensorflow/issues/29911 .

The problem now is that it does't converge, the Loss is around 100 after 40 epochs, the batch size is 64, training data is common_voice_data/cv-corpus-6.1-2020-12-11_zh-CN.

[2021-09-06 07:07] aod1310 commented on #32
Hi there,

I met same error with 4 gpus but I fixed it by revising some codes of run_rnnt.py
I just deleted input_signature of above each eval, train function and it remained just "@tf.function"
I'm a tensorflow beginner, so I don't know if this is correct, but it works.

my environment is below:
GTX1080Ti x 4
Tensorflow-gpu 2.2.0rc0 + CUDA 10.0.130 (it is pulled from docker hub)

[2022-03-08 03:51] renzeyu-ai opened #50 "The execution program propressing_common_voice.py reports the following error"
Instructions for updating:
This op will be removed after the deprecation date. Please switch to tf.sets.difference().
Traceback (most recent call last):
  File "/home2/renzy/project/rnnt-speech-recognition/preprocess_common_voice.py", line 100, in <module>
    app.run(main)
  File "/home2/renzy/miniconda3/envs/wav/lib/python3.7/site-packages/absl/app.py", line 312, in run
    _run_main(main, args)

[2022-07-06 01:08] #47 closed